table {
    width: 1000px;
    border: 1px solid black;
    text-align: center;
    background-color: powderblue;
    border-collapse: collapse;
}

table th {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
    background-color: aliceblue;
}

.td-red {
    color:red;
}

.td-blue {
    color:blue;
}