.home{
    margin: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    margin-left: 10px;
}



