
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    border-radius: 3px;
    border-color: lightgrey;
    height: 20px;
    width: 250px;
}

button{
    margin-top: 10px;
    display: block;
    width: 70px;
    height: 30px;
    border-radius: 3px;
    background-color: grey;
    color: white;
    font-weight: 100;
}

.main{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 380px;
    border: 1px solid lightgrey;
    background-color: rgb(255, 250, 243);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px lightgrey;

}

.login{
    margin-left: 10px;
    text-align: left;
}